section p img[alt=logoHRO] { height: 150px; position: absolute; bottom: 0px; right: 0px; background: none; border: none; box-shadow: none;}
section p img[alt=logoCGI] { height: 150px; position: absolute; bottom: 0px; left: 0px; background: none; border: none; box-shadow: none;}

.researchList li {
	margin-top: 65px;
	margin-bottom: 65px;
}

.move-segmentation {
	-webkit-animation: translate-right 0.3s linear 1;
}


.return-segmentation {
	-webkit-animation: translate-left 0.3s linear 1;
}

.translateBand1 {
	-webkit-animation: band1Translate 0.5s linear 1;
}
.unTranslateBand1 {
	-webkit-animation: band1UnTranslate 0.5s linear 1;	
}

.translateBand2 {
	-webkit-animation: band2Translate 0.5s linear 1;
}
.unTranslateBand2 {
	-webkit-animation: band2UnTranslate 0.5s linear 1;	
}

.translateBand3 {
	-webkit-animation: band3Translate 0.5s linear 1;
}
.unTranslateBand3 {
	-webkit-animation: band3UnTranslate 0.5s linear 1;	
}

.translatePlate {
	-webkit-animation: plateTranslate 0.5s linear 1;		
}

.unTranslatePlate {
	-webkit-animation: plateUnTranslate 0.5s linear 1;		
}

@-webkit-keyframes translate-right { 0% { -webkit-transform: translate(0px); } 100% { -webkit-transform: translate(60px); } }
@-webkit-keyframes translate-left { 0% { -webkit-transform: translate(60px); } 100% { -webkit-transform: translate(0px); } }


@-webkit-keyframes band1Translate { 100% { -webkit-transform: translate(-55px, -70px); } }
@-webkit-keyframes band1UnTranslate { 100% { -webkit-transform: translate(55px, 75px); } }

@-webkit-keyframes band2Translate { 100% { -webkit-transform: translate(-55px, -30px); } }
@-webkit-keyframes band2UnTranslate { 100% { -webkit-transform: translate(55px, 282px); } }

@-webkit-keyframes band3Translate { 100% { -webkit-transform: translate(-55px, -65px); } }
@-webkit-keyframes band3UnTranslate { 100% { -webkit-transform: translate(55px, 282px); } }


@-webkit-keyframes plateTranslate { 100% { -webkit-transform: translate(0, -15px); } }
@-webkit-keyframes plateUnTranslate { 100% { -webkit-transform: translate(-250px, 15px); } }

@-webkit-keyframes plateUnTranslate { 0% { -webkit-transform: translate(148px); } 100% { -webkit-transform: translate(0px); } }
