.move-segmentation {
	-webkit-animation: translate-right 0.5s linear 1;
}


.return-segmentation {
	-webkit-animation: translate-left 0.5s linear 1;
}

.translateBand {
	-webkit-animation: bandTranslate 0.7s linear 1;
}

.unTranslateBand {
	-webkit-animation: bandUnTranslate 0.7s linear 1;	
}

.translatePlate {
	-webkit-animation: plateTranslate 0.7s linear 1;		
}

.unTranslatePlate {
	-webkit-animation: plateUnTranslate 0.7s linear 1;		
}

@-webkit-keyframes translate-right { 0% { -webkit-transform: translate(0px); } 100% { -webkit-transform: translate(60px); } }
@-webkit-keyframes translate-left { 0% { -webkit-transform: translate(60px); } 100% { -webkit-transform: translate(0px); } }

@-webkit-keyframes bandTranslate { 100% { -webkit-transform: translate(-55px, -282px); } }
@-webkit-keyframes bandUnTranslate { 100% { -webkit-transform: translate(55px, 282px); } }

@-webkit-keyframes plateTranslate { 100% { -webkit-transform: translate(250px, -15px); } }
@-webkit-keyframes plateUnTranslate { 100% { -webkit-transform: translate(-250px, 15px); } }

@-webkit-keyframes plateUnTranslate { 0% { -webkit-transform: translate(148px); } 100% { -webkit-transform: translate(0px); } }
