.move-segmentation {
 	-webkit-animation: translate-right 1s linear 1;
}

@-webkit-keyframes translate-right { 0% { -webkit-transform: translate(-148px); } 100% { -webkit-transform: translate(0px); } }
